{% extends "bootstrap/base.html" %}

{% block title %}DHC-IBM 医疗科研数据分析挖掘{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">医疗科研大数据分析</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href={{ url_for('dataset_register') }}>标签处理</a></li>
                <li><a href={{ url_for('feature_selection') }}>因子重要度分析</a></li>
                <li><a href={{ url_for('patient_clustering') }}>患者聚类</a></li>
                <li><a href={{ url_for('grouping_rule_mining') }}>规则挖掘</a></li>
                <li><a href={{ url_for('rist_prediction') }}>疾病风险预测</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
