{% extends "dc_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CCH{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>数据探索</h1>
</div>
<!--每个tab显示一个dataFrame的数据-->
{% if pickle_file_list %}
<ul class="nav nav-tabs">
    {% for i in range(pickle_file_list|length) %}
        {% if i==0 %}
            <li class="active"><a data-toggle="tab" href="#menu{{ pickle_file_list[i] }}">{{ pickle_file_list[i] }}</a></li>
        {% else %}
            <li><a data-toggle="tab" href="#menu{{ pickle_file_list[i] }}">{{ pickle_file_list[i] }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<div class="tab-content">
    {% for i in range(pickle_file_list|length) %}
        {% if i==0 %}
            <div id="menu{{ pickle_file_list[i] }}" class="tab-pane fade in active">
                <h3>{{ pickle_file_list[i] }}</h3>
                <p>Some content.</p>
            </div>
        {% else %}
            <div id="menu{{ pickle_file_list[i] }}" class="tab-pane fade">
                <h3>{{ pickle_file_list[i] }}</h3>
                <p>Some content.</p>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}
