{% extends "dc_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}cch{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>基础过滤</h3>
</div>
<div id="meta_info_base">
    {% if meta_list %}
    <div class="panel-group" id="accordion">
        {% for meta in meta_list %}
        <form action="" method="post" role="form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title text-left">
                        <a data-toggle="collapse" href="#collapse{{ meta[0] }}">{{ meta[0] }}</a>
                    </h4>
                </div>
                <div id="collapse{{ meta[0] }}" class="panel-collapse collapse">
                    <div  class="panel-body" style="overflow-y: scroll;">
                        <input type="submit" class="btn btn-info" value="过滤">
                        <table class='table' border=1> 
                            <tbody>
                            {% for cols in meta[1] %}
                            <tr>
                                <!--每行的checkbox是否被选中 表示是否更新这一行代表的信息 用df_name.col_name来作为唯一标识的key-->
                                <td><input type="checkbox" name="{{ meta[0] }}.{{ cols[0] }}"></td>
                                {% for col in cols %}
                                <td><input type="text" name="{{meta[0]}}.{{cols[0]}}" value="{{ col }}"></td> 
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="page-header">
    <h3>高级过滤</h3>
</div>
{% if meta_list %}
<div id="meta_info_pro">
    <div class="panel-group" id="accordion">
        {% for meta in meta_list %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title text-left">
                    <a data-toggle="collapse" href="#collapsepro{{ meta[0] }}">{{ meta[0] }}</a>
                </h4>
            </div>
            <div id="collapsepro{{ meta[0] }}" class="panel-collapse collapse">
                <div  class="panel-body" style="overflow-y: scroll;">
                    <div class="form-group col-xs-4">
                        <a id="propost{{ meta[0] }}" class="btn btn-info active" role="button">过滤</a>
                        </br>
                        <label>data_type</label>
                        <select id="multiple_data_type" multiple="multiple" class="form-control" name="data_type">
                            <option>character</option>
                            <option>numeric</option>
                            <option>binary</option>
                            <option>datetime</option>
                            <option>factor_m</option>
                            <option>factor_s</option>
                            <option>empty</option>
                        </select> 
                        <label>col_name_pattern</label>
                        <input type="text" class="form-control" name="col_name_pattern" value="">
                        <label>col_value_expr</label>
                        <input type="text" class="form-control" name="col_value_expr" value="">
                        <label>distinct_ratio</label>
                        <input type="text" class="form-control" name="distinct_ratio" value="">
                        <label>non_NA_ratio</label>
                        <input type="text" class="form-control" name="non_NA_ratio" value="">
                        <label>balance_ratio</label>
                        <input type="text" class="form-control" name="balance_ratio" value="">
                    </div>
                </div>
                <div id="meta_table_pro">
                        <table class='table' border=1> 
                            <tbody>
                            {% for cols in meta[1] %}
                            <tr>
                                {% for col in cols %}
                                <td>{{ col }}</td> 
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts  %}
{{ super() }}
<script src={{ url_for('static', filename='jquery.js') }}></script>
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script type=text/javascript>
function get_selected_df_names(){
        var items = [];
        $('select#multiple_data_type option:selected').each(function(){ items.push($(this).val()); });
        return items.join(', ');
}
$(function(){
        $("a[id^='propost']").click(function()
            {
            var df_name = $(this).attr("id").replace('propost','');
            $.ajax(
                {
                url: $SCRIPT_ROOT+'{{ url_for('dc_pro_data_cleansing') }}',
                type: 'get',
                data: { 'df_name':df_name, 
                        <!--'data_type':$(this).siblings("[name='data_type']").attr("value"),-->
                        'data_type':get_selected_df_names(),
                        'col_name_pattern':$(this).siblings("[name='col_name_pattern']").attr("value"),
                        'col_value_expr':$(this).siblings("[name='col_value_expr']").attr("value"),
                        'distinct_ratio':$(this).siblings("[name='distinct_ratio']").attr("value"),
                        'non_NA_ratio':$(this).siblings("[name='non_NA_ratio']").attr("value"),
                        'balance_ratio':$(this).siblings("[name='balance_ratio']").attr("value")
                        },
                dataType: 'html',
                success: function(response)
                    {
                        $("div#meta_table_pro").html(response);
                    }
                });
            });
});
</script>
{% endblock %}
