{% extends "dc_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CCH{% endblock %}

{% block page_content %}
<div id="pageheader" class="page-header">
    <h4 id="exploration">数据探索</h4>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src={{ url_for('static', filename='jquery.js') }}></script>
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script type=text/javascript>
$(function()
        {
        $('h4#exploration').click(function()
            {
            $.ajax(
                {
                url: $SCRIPT_ROOT+'{{ url_for('dc_data_exploration') }}',
                type: 'post',
                dataType: 'html',
                success: function(response)
                    {
                        $("div#pageheader").after(response);    
                     }
                }
                );
            }
            );
        }
);
</script>
{% endblock %}
