{% extends "dc_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}cch{% endblock %}

{% block page_content %}
<div class="page-header">
    <a><h3>基础筛选</h4></a>
    <li><h5>列过滤 -> 分别展现各列数据的meta信息,支持删除选中的列</h5></li>
    <li><h5>关联操作 -> 同步更新科研数据的data信息与meta信息</h5></li> </div>
<div id="meta_info_base">
    {% if meta_list %}
    <div class="panel-group" id="accordion">
        {% for meta in meta_list %}
        <form action="" method="post" role="form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title text-left">
                        <a data-toggle="collapse" href="#collapse{{ meta[0] }}">{{ meta[0] }}</a>
                    </h4>
                </div>
                <div id="collapse{{ meta[0] }}" class="panel-collapse collapse">
                    <div  class="panel-body" style="overflow-y: scroll;">
                        <input type="submit" class="btn btn-info" value="过滤">
                        {{ show_df_as_table(meta[1],meta[0],"if_checkbox") }}
                    </div>
                </div>
            </div>
        </form>
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="page-header">
    <a><h3>高级筛选</h3></a>
    <li><h5>数据类型筛选-> 只保留特定数据类型的列数据</h5></li>
    <li><h5>列名模糊筛选 -> 如"_SUFF",筛选出以"_SUFF"结尾的列</h5></li>
    <li><h5>正则筛选 -> 筛选出取值符合正则表达式的列</h5></li>
    <li><h5>区分度筛选 -> 根据列取值区分度的最小阈值进行筛选</h5></li>
    <li><h5>缺失值比例筛选 -> 根据列缺失值最大阈值进行筛选</h5></li>
    <li><h5>均衡度度例筛选 -> 根据列取值的均衡度进行筛选</h5></li>
</div>
{% if meta_list %}
<div id="meta_info_pro">
    <div class="panel-group" id="accordion">
        {% for meta in meta_list %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title text-left">
                    <a data-toggle="collapse" href="#collapsepro{{ meta[0] }}">{{ meta[0] }}</a>
                </h4>
            </div>
            <div id="collapsepro{{ meta[0] }}" class="panel-collapse collapse">
                <div  class="panel-body" style="overflow-y: scroll;">
                    <div class="form-group col-xs-4">
                        <a id="propost{{ meta[0] }}" class="btn btn-info active" role="button">筛选</a>
                        </br>
                        <label>data_type</label>
                        <select class="form-control" name="data_type">
                            <option>character</option>
                            <option>numeric</option>
                            <option>binary</option>
                            <option>datetime</option>
                            <option>factor_m</option>
                            <option>factor_s</option>
                            <option>empty</option>
                            <option></option>
                        </select> 
                        <label>col_name_pattern</label>
                        <input type="text" class="form-control" name="col_name_pattern" value="">
                        <label>col_value_expr</label>
                        <input type="text" class="form-control" name="col_value_expr" value="">
                        <label>distinct_ratio</label>
                        <input type="text" class="form-control" name="distinct_ratio" value="">
                        <label>non_NA_ratio</label>
                        <input type="text" class="form-control" name="non_NA_ratio" value="">
                        <label>balance_ratio</label>
                        <input type="text" class="form-control" name="balance_ratio" value="">
                    </div>
                    <div id="meta_table_pro">
                            {{ show_df_as_table(meta[1],meta[0]) }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% macro show_df_as_table(df,df_name,if_checkbox) -%}
<!--将dataframe转换为table显示,并根据传入参数控制是否有checkbox-->
<table class='dataframe' border=1> 
    <thead>
        <tr>
            {% if if_checkbox is defined %}
            <th>#</th>
            {% endif %}
            {% for col_name in df.columns %}
            <th>{{ col_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for r in range(df.index|length) %}
    <tr>
        {% if if_checkbox is defined %}
        <td><input type="checkbox" name="{{ df_name }}.{{ df.iloc[r][0] }}"></td>
        {% endif %}
        {% for c in range(df.iloc[r]|length) %}
        <td>{{ df.iloc[r][c] }}</td> 
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{%- endmacro %}

{% block scripts  %}
{{ super() }}
<script src={{ url_for('static', filename='jquery.js') }}></script>
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script type=text/javascript>
<!--function get_selected_df_names(){-->
        <!--var items = [];-->
        <!--$('select#multiple_data_type option:selected').each(function(){ items.push($(this).val()); });-->
        <!--return items.join(', ');-->
<!--}-->
$(function(){
        $("a[id^='propost']").click(function()
            {
            var df_name = $(this).attr("id").replace('propost','');
            $.ajax(
                {
                url: $SCRIPT_ROOT+'{{ url_for('dc_pro_data_cleansing') }}',
                type: 'get',
                data: { 'df_name':df_name, 
                        'data_type':$(this).siblings("[name='data_type']").attr("value"),
                        <!--'data_type':get_selected_df_names(),-->
                        'col_name_pattern':$(this).siblings("[name='col_name_pattern']").attr("value"),
                        'col_value_expr':$(this).siblings("[name='col_value_expr']").attr("value"),
                        'distinct_ratio':$(this).siblings("[name='distinct_ratio']").attr("value"),
                        'non_NA_ratio':$(this).siblings("[name='non_NA_ratio']").attr("value"),
                        'balance_ratio':$(this).siblings("[name='balance_ratio']").attr("value")
                        },
                dataType: 'html',
                success: function(response)
                    {
                        $("div#meta_table_pro").html(response);
                    }
                });
            });
});
</script>
{% endblock %}
