{% extends "dc_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CCH{% endblock %}

{% block page_content %}
<div id="pageheader" class="page-header">
    <a id="exploration">
        <h3>数据探索</h4>
    </a>
    <li><h5>类型解析 -> 自动每一维输入数据的类型(数值型 日期型 枚举类型 二值型 字符型)</h5></li>
    <li><h5>取值区分度 -> 统计每一列数据的区分度</h5></li>
    <li><h5>取值范围解析 -> 根据每一维数据的类型,统计其取值范围</h5></li>
    <li><h5>缺失值比例 -> 统计每一维数据的缺失值比例</h5></li>
    <li><h5>分布展示 -> 分别统计每一维数据的分布,如数值型(bar hist),枚举类型(pie hist)</h5></li>
</div>
<div id="pagecontent">
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src={{ url_for('static', filename='jquery.js') }}></script>
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script type=text/javascript>
$(function()
        {
        $('a#exploration').click(function()
            {
            $.ajax(
                {
                url: $SCRIPT_ROOT+'{{ url_for('dc_data_exploration') }}',
                type: 'post',
                dataType: 'html',
                success: function(response)
                    {
                        $("div#pagecontent").html(response);    
                     }
                }
                );
            }
            );
        }
);
</script>
{% endblock %}
