{% extends "dc_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CCH{% endblock %}

{% block page_content %}
<div id="pageheader" class="page-header">
    <a id="feature">
        <h3>特征转换</h4>
    </a>
    <li><h5>日期类型特征数值化处理</h5></li>
    <li><h5>枚举类型变量的特征打散</h5></li>
</div>
{% if meta_list %}
<div id="meta_info_pro">
    <div class="panel-group" id="accordion">
        {% for meta in meta_list %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title text-left">
                    <a data-toggle="collapse" href="#collapsepro{{ meta[0] }}">{{ meta[0] }}</a>
                </h4>
            </div>
            <div id="collapsepro{{ meta[0] }}" class="panel-collapse collapse">
                <div class="panel-body" style="overflow-y: scroll;">
                    <!--<div class="form-group col-xs-4">-->
                        <a id="featureengineer{{ meta[0] }}" class="btn btn-info active" role="button">转换</a>
                        </br>
                        <label>derive_prefix</label>
                        <input type="text" class="form-control" style="width:50%" name="derive_prefix" value="drv_f_">
                        </br>
                    <!--</div>-->
                    <!--<div id="feature_factor">-->
                        {{ show_df_as_table(meta[1],meta[0],"if_checkbox") }}
                    <!--</div>-->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

{% macro show_df_as_table(df,df_name,if_checkbox) -%}
<!--将dataframe转换为table显示,并根据传入参数控制是否有checkbox-->
<table class='dataframe' border=1> 
    <thead>
        <tr>
            {% if if_checkbox is defined %}
            <th>#</th>
            {% endif %}
            {% for col_name in df.columns %}
            <th>{{ col_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for r in range(df.index|length) %}
    <tr>
        {% if if_checkbox is defined %}
        <td><input type="checkbox" name="{{ df_name }}.{{ df.iloc[r][0] }}"></td>
        {% endif %}
        {% for c in range(df.iloc[r]|length) %}
        <td>{{ df.iloc[r][c] }}</td> 
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{%- endmacro %}

{% block scripts %}
{{ super() }}
<script src={{ url_for('static', filename='jquery.js') }}></script>
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script type=text/javascript>
$(function(){
        $("a[id^='featureengineer']").click(function()
            {
            <!--获取dataframe的内容-->
            var df_name = $(this).attr("id").replace('featureengineer','');
            <!--获得该dataframe下选中的checkbox-->
            var checked_feature = [];
            $("input:checked[name^="+df_name+"]").each(function(){
                checked_feature.push($(this).attr("name"));
                });
            $.ajax(
                {
                url: $SCRIPT_ROOT+'{{ url_for('dc_feature_engineering_factor') }}',
                type: 'get',
                traditional:true,
                data: { 'df_name':df_name, 
                        'derive_prefix':$(this).siblings("[name='derive_prefix']").attr("value"),
                        <!--'checked_feature':JSON.stringify(checked_feature)-->
                        'checked_feature':checked_feature
                        },
                dataType: 'html',
                success: function(response)
                    {
                        <!--alert("Success");-->
                        <!--$("div#feature_factor").html(response);-->
                    }
                });
            });
});
</script>
{% endblock %}
