{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DHC-IBM 相似病患分析挖掘{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><a href={{ url_for('dataset_register') }}><h4>标签处理</h4></a></div>
                <div class="panel-body">
                    <a href={{ url_for('dataset_register') }}><img src='/static/dataset_register.jpg' width="360" height="180"/></a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><a href={{ url_for('patient_clustering') }}><h4>病患聚类</h4></a></div>
                <div class="panel-body">
                    <a href={{ url_for('patient_clustering') }}><img src='/static/patient_clustering.jpg' width="360" height="180"/></a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><a href={{ url_for('rist_prediction') }}><h4>风险预测</h4></a></div>
                <div class="panel-body">
                    <a href={{ url_for('rist_prediction') }}><img src='/static/risk_prediction.png' width="360" height="180"/></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><a href={{ url_for('feature_selection') }}><h4>特征选择</h4></a></div>
                <div class="panel-body">
                    <a href={{ url_for('feature_selection') }}><img src='/static/feature_selection.jpg' width="360" height="180"/></a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><a href={{ url_for('grouping_rule_mining') }}><h4>规则挖掘</h4></a></div>
                <div class="panel-body">
                    <a href={{ url_for('grouping_rule_mining') }}><img src='/static/grouping_rule_mining.jpg' width="270" height="180"/></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header"><h2>demo说明</h2></div>
<li><h4>基于ibm-cch算法IP 封装了'相似病患分析' '疾病风险预测'功能模块</h4></li>
<li><h4>输入: '数据预处理'部分加工过的数据</h4></li>
<li><h4>输出: 患者分群规则 & 疾病风险预测模型</h4></li>
{% endblock %}
