{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CCH{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>患者聚类</h1>
</div>
{{ wtf.quick_form(form) }}
    {% if stat %}
        <div class="page-header">
            <h1>特征显著性指标</h1>
        </div>
        {{ stat|safe }}
    {% endif %}
    {% if score %}
        <div class="page-header">
            <h1>聚类结果得分</h1>
        </div>
        <table class='table table-striped'> 
            <tr>
                <td>{{ score.items()[0][0]  }}</td>
                <td>{{ score.items()[0][1] }}</td>
            </tr>
        </table>
    {% endif %}
{% endblock %}
